$ob-purple: #4a1d96;
$ob-yellow: #fbbf24;

$bg-light-gray: #f1f5f9;
$bg-light-blue: #bae6fd;
$bg-light-red: #fecaca;

$text-black: #0c0519;
$text-light-gray: #d1d5db;
$text-dark-gray: #374151;
$text-red: #b91c1c;
$text-blue: #2563eb;
$text-green: #16a34a;
