@import '/src/common/styles/common';
@import '/src/common/styles/colors';
@import '/src/common/styles/media';
@import '/src/common/styles/z-index';
@import '/src/common/styles/fonts';

.new-comers-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 48px 0;

  .title {
    margin-left: 12px;
  }

  .subtitle {
    margin-left: 12px;
  }

  .bold {
    align-self: flex-end;

    @include font-weight(bold);
  }

  .new-comers-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 12px;

    @include small-screen {
      display: block;
    }
  }
}
